<section id="pharmacy-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card box-shadow no-border" style="border-radius: 5px;">
                    <div class="card-header">
                        <h6 class="white">Prescriptions</h6>
                    </div>
                    <div class="card-body fixed-card-padding text-center">
                        <p style="font-size: 38px;" class="theme-color">
                            <%= @prescriptions.count %>
                        </p>
                        <p style="font-size: 14px">new prescriptions</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow no-border" style="border-radius: 5px;">
                    <div class="card-header">
                        <h6 class="white">Refills</h6>
                    </div>
                    <div class="card-body fixed-card-padding text-center">
                        <p style="font-size: 38px;" class="theme-color">
                            <%= @refills.count %>
                        </p>
                        <p style="font-size: 14px">new refills</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow no-border" style="border-radius: 5px;">
                    <div class="card-header">
                        <h6 class="white">Patients</h6>
                    </div>
                    <div class="card-body fixed-card-padding text-center">
                        <p style="font-size: 38px;" class="theme-color">
                            <%= @patients.count %>
                        </p>
                        <p style="font-size: 14px">active patients</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card box-shadow no-border" style="border-radius: 5px;">
                    <div class="card-header">
                        <h6 class="white">orders</h6>
                    </div>
                    <div class="card-body fixed-card-padding text-center">
                        <p style="font-size: 38px;" class="theme-color">
                            <%= @orders.count %>
                        </p>
                        <p style="font-size: 14px">new orders</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card box-shadow no-border" style="border-radius: 5px; margin-top: 15px;">
                    <div class="card-header">
                        <h6 class="white">All prescriptions</h6>
                    </div>
                    <div class="card-body fixed-card-padding">
                        <%= render partial: 'prescriptions', locals: { prescriptions: @prescriptions } %>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card box-shadow no-border" style="border-radius: 5px; margin-top: 15px;">
                    <div class="card-header">
                        <h6 class="white">Prescriptions to date</h6>
                    </div>
                    <div class="card-body fixed-card-padding text-center">
                        <%= line_chart prescriptions %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

